html {
  font-size: 100px;
}

div#app {
  /* font-size: 66dpx; */
  font-size: 2rem;
  color: red;
  background-color: bisque;
  position: fixed;
  top: 100px;
  left: 100px;
  width: 600dpx;
  height: 600dpx;
  transform: rotate(7deg);
}

.test {
  font-size: 200px;
}

span {
  text-align: center;
}
