div {
  font-size: 16dpx;
  color: red;
  background-color: bisque;
  position: fixed;
  top: 100px;
  left: 100px;
  width: 300px;
  height: 100px;
  transform: rotate(7deg);
}

span {
  text-align: center;
}
